FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URL=mysql+pymysql://utp_user:utp_password@localhost:3307/utp_evalua
CORS_ORIGINS=http://localhost:4200
UPLOAD_FOLDER=app/static/uploads
LOG_LEVEL=INFO
AUTO_CREATE_DB=true
AUTO_SEED_DATABASE=true

